<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid bg-dark m-0 p-0">
    <div class="row m-0 p-2 ">
        <div class="col-11 text-white">
            <span class="h5">
                <th:block
                        th:text="${user.getUsername()}">
                </th:block>
            </span>
            <span class="font-weight-light">
                <th:block
                        th:text="'with roles: '+ ${user.getRoles()}">
                </th:block>
            </span>
        </div>
        <div class="col-1 text-white">
            <a class="btn-link text-secondary" type="submit" href="/logout">Logout</a>
        </div>
    </div>
</div>
<br>
<div class="d-flex align-items-start">
    <div class="col-2 m-0 p-0">
        <div class="nav flex-column nav-pills me-3" id="Left-menu" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="Admin-pills-tab" data-bs-toggle="pill" href="#Admin-pills"
               role="tab" aria-controls="Admin-pills-home" aria-selected="true">Admin</a>
            <a class="nav-link" id="User-pills-tab" data-bs-toggle="pill" href="#User-pills"
               role="tab" aria-controls="User-pills-home" aria-selected="false">User</a>
        </div>
    </div>
    <div class="col-10 m-0 ">
        <div class="tab-content container-fluid" id="Left-menuContent">

            <div class="tab-pane fade show active" id="Admin-pills"
                 role="tabpanel" aria-labelledby="Admin-pills-tab">
                <div class="h1">Admin panel</div>
                <br>
                <nav class="nav nav-tabs" id="nav-tab" role="tablist">
                    <!-- Страницы с админ таблицей И создание юзеров -->
                    <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home"
                       role="tab" aria-controls="nav-home" aria-selected="true">
                        Users Table</a>
                    <a class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile"
                       role="tab" aria-controls="nav-profile" aria-selected="false">New User</a>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home"
                         role="tabpanel" aria-labelledby="nav-home-tab">
                        <!--Страница с таблицей для админа -->
                        <div class="card">
                            <div class="card-header h5">
                                All Users
                            </div>
                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">Id #</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Year of Birth</th>
                                        <th scope="col">Country of residence</th>
                                        <th scope="col">Roles</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${userList}">
                                        <td th:text="${user.id}"></td>
                                        <td th:text="${user.username}"></td>
                                        <td th:text="${user.yob}"></td>
                                        <td th:text="${user.country}"></td>
                                        <td>
                            <span th:each="role : ${user.roles}">
                    <span th:text="${role.name}"></span>
                    <br/>
                </span>
                                        </td>
                                        <td>
                                            <form th:action="@{/admin/update}" method="get" target="_blank">
                                                <input type="hidden" name="id" th:value="${user.id}"/>
                                                <button type="submit" class="btn btn-primary">Edit
                                                </button>
                                            </form>
                                        </td>
                                        <td>
                                            <form th:action="@{/admin/delete}" method="get" target="_blank">
                                                <input type="hidden" name="id" th:value="${user.id}"/>
<!--                                                <button type="submit" class="btn btn-danger">-->
<!--                                                    Delete-->
<!--                                                </button>-->
                                                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                                        th:data-bs-target="${'#modalDelete'+user.getId()}">Delete
                                                </button>
                                            </form>

                                            <div class="modal fade" th:id="${'modalDelete'+user.getId()}">
                                                <!-- Наполнение кнопки Delete, описание модального окна -->
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <form id="formDelete" th:method="POST"
                                                              th:action="@{admin/delete/ (id=${user.id})}"
                                                              th:object="${user}">
                                                            <div class="modal-header"> <!-- Шапка модального окна -->
                                                                <h5 class="modal-title"
                                                                    id="modalVerticallyCenteredLabel2">
                                                                    Delete user</h5>
                                                                <button type="button" class="btn-close"
                                                                        data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body text-center font-weight-bold">
                                                                <p>Would you like to delete <strong th:text="${user.getUsername()}" /> with id <strong th:text="${user.getId()}" />?</p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <!-- Кнопки отмена и подтверждения формы -->
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-bs-dismiss="modal">Close
                                                                </button>
                                                                <button type="submit" class="btn btn-danger">Delete
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>

                                                </div>
                                            </div>


                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-profile"
                         role="tabpanel" aria-labelledby="nav-profile-tab">
                        <!--Страница создания юзера -->
                        <div class="card">
                            <div class="card-header h5">
                                Add new user
                            </div>
                            <div class="card-body">
                                <form id="formNew" th:method="POST"
                                      th:action="@{/admin}" th:object="${userToCreate}"
                                      method="post">
                                    <div class="text-center font-weight-bold">
                                        <div class="row">
                                            <div class="col-4"></div>
                                            <div class="h6 col-4">
                                                <div class="form-group">
                                                    <label for="newUsername" class="form-label fw-bold">Username</label>
                                                    <input type="text" id="newUsername" th:field="*{username}" required
                                                           minlength="3"
                                                           class="form-control form-control-sm"/>
                                                    <div class="invalid-feedback">
                                                        This field should not be empty. Minimum of 3 symbols.
                                                    </div>
                                                </div>
                                                <br/><br/>
                                                <div class="form-group">
                                                    <label for="newPassword" class="form-label fw-bold">Enter your
                                                        password
                                                        (unchangeable)</label>
                                                    <input type="password" th:field="*{password}" id="newPassword"
                                                           required minlength="3"
                                                           class="form-control form-control-sm"/>
                                                    <div class="invalid-feedback">
                                                        This field should not be empty. Minimum of 3 symbols.
                                                    </div>
                                                </div>
                                                <br/><br/>
                                                <div class="form-group">
                                                    <label for="newYob" class="form-label fw-bold">Year of birth
                                                        (unchangeable)</label>
                                                    <input type="number" th:field="*{yob}" id="newYob" pattern="\d+"
                                                           required min="1923"
                                                           max="2023"
                                                           class="form-control form-control-sm"/>
                                                    <div class="invalid-feedback">
                                                        Please enter a valid year of birth.
                                                    </div>
                                                </div>
                                                <br/><br/>
                                                <div class="form-group">
                                                    <label for="newCountry" class="form-label fw-bold">Enter
                                                        country</label>
                                                    <input type="text" th:field="*{country}" id="newCountry" required
                                                           minlength="3"
                                                           class="form-control form-control-sm"/>
                                                    <div class="invalid-feedback">
                                                        Please enter a valid country.
                                                    </div>
                                                </div>
                                                <br/><br/>

                                                <fieldset>
                                                    <legend class="form-label fw-bold">Select roles:</legend>
                                                    <div class="form-check">
        <span th:each="role : ${allRoles}">
            <input type="checkbox" th:field="*{roles}" th:value="${role.id}" id="${'role_' + role.id}"/>
            <label th:for="${'role_' + role.id}" th:text="${role.name}"></label>
        </span>
                                                    </div>
                                                </fieldset>
                                                <br>
                                                <div>
                                                    <button type="submit" class="btn btn-success">Add new user
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="User-pills"
                 role="tabpanel" aria-labelledby="User-pills-tab"> <!-- Вкладка Юзера  -->
                <div class="h1">User information-page</div>
                <br>
                <div class="card">
                    <div class="card-header h5">
                        About User
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Id #</th>
                                <th scope="col">Username</th>
                                <th scope="col">Year of Birth</th>
                                <th scope="col">Country of residence</th>
                                <th scope="col">Roles</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td th:text="${user.id}"></td>
                                <td th:text="${user.username}"></td>
                                <td th:text="${user.yob}"></td>
                                <td th:text="${user.country}"></td>
                                <td>
                <span th:each="role : ${user.roles}">
                    <span th:text="${role.name}"></span></span>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>