<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

<!--TOPTOPTOPTOPTOPTOPTOPTOPTOPTOPTOPTOPTOPTOPTOPTOP-->


<div class="container text-center" style="background-color: lightslategrey; color: white; max-width: 100%;">
    <div class="row">
        <div class="col">
            <br>
            <span th:text="${sayhitoadmin}"></span> with roles
            <span th:if="${userRole}">
                <span th:each="role : ${userRole}">
                    <span th:text="${' ' + role.name + ', '}"></span>
                </span>
            </span>
            <br> <br>
        </div>
        <div class="col-6">

        </div>
        <div class="col ml-auto">
            <br>
            <a th:href="@{/logout}" style="color: white;">Logout</a>
            <br><br>
        </div>
    </div>
</div>

<!--MIDDLEMIDDLEMIDDLEMIDDLEMIDDLEMIDDLEMIDDLEMIDDLEMIDDLEMIDDLE-->


<div class="row">
    <div class="col-2 d-flex flex-column align-items-start justify-content-start">
        <br>
        <a href="/user" style="margin-left: 10px;"> USER</a>
        <a style="margin-left: 10px;"> ADMIN</a>
    </div>


    <div class="col-10" style="background-color: lightgray;">
        <h3>Admin panel.</h3>

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                        type="button" role="tab" aria-controls="nav-home" aria-selected="true">User's table
                </button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                        type="button" role="tab" aria-controls="nav-profile" aria-selected="false">New User
                </button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">

            <!--            ПЕРВАЯ ВКЛАДКА-->

            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                <br><h6>All users:</h6>

                <table class="table table-striped-columns">
                    <thead>
                    <tr>
                        <th scope="col">Id #</th>
                        <th scope="col">Username</th>
                        <th scope="col">Year of Birth</th>
                        <th scope="col">Country of residence</th>
                        <th scope="col">Roles</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${userlist}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.yob}"></td>
                        <td th:text="${user.country}"></td>
                        <td>
                            <!-- Итерация по списку ролей каждого пользователя -->
                            <span th:each="role : ${user.roles}">
                    <span th:text="${role.name}"></span>
                    <br/>
                </span>
                        </td>
                        <td>

                            <!-- Кнопка Edit -->
                            <form th:action="@{/admin/update}" method="get" target="_blank">
                                <input type="hidden" name="id" th:value="${user.id}"/>
                                <button type="submit" class="btn btn-primary" onclick="openEditPopup(${user.id})">Edit
                                </button>
                            </form>

                            <script>
                                function openEditPopup(userId) {
                                    var url = '/admin/update?id=' + userId;
                                    window.open(url, 'editWindow', 'width=200,height=200,scrollbars=no');

                                }
                            </script>

                        <td>
                            <!-- Кнопка Delete -->
                            <form th:action="@{/admin/delete}" method="get" target="_blank">
                                <input type="hidden" name="id" th:value="${user.id}"/>
                                <button type="submit" class="btn btn-danger" onclick="openEditPopup(${user.id})">
                                    Delete
                                </button>
                            </form>

                        </td>


                    </tr>
                    </tbody>
                </table>
            </div>


            <!--            ВТОРАЯ ВКЛАДКА-->

            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <br><h6>Add new user</h6>
                <div class="container text-center">
                    <div class="row">
                        <div class="col"></div>

                        <!--                                                         Column2-->
                        <div class="col">

                            <form th:method="POST" th:action="@{/admin/newuser}" th:object="${userreg}">
                                <label for="username" class="form-label fw-bold">Enter username</label>
                                <input type="text" th:field="*{username}" id="username"
                                       class="form-control form-control-sm"/>
                                <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name error</div>
                                <br/><br/>

                                <label for="password" class="form-label fw-bold">Enter your password</label>
                                <input type="password" th:field="*{password}" id="password"
                                       class="form-control form-control-sm"/>
                                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name error</div>
                                <br/><br/>

                                <label for="yob" class="form-label fw-bold">Year of birth</label>
                                <input type="number" th:field="*{yob}" id="yob" class="form-control form-control-sm"/>
                                <div th:if="${#fields.hasErrors('yob')}" th:errors="*{yob}">Name error</div>
                                <br/><br/>

                                <label for="country" class="form-label fw-bold">Enter country</label>
                                <input type="text" th:field="*{country}" id="country"
                                       class="form-control form-control-sm"/>
                                <div th:if="${#fields.hasErrors('country')}" th:errors="*{country}">Name error</div>
                                <br/><br/>

                                <!-- Checks for user roles -->
                                <fieldset>
                                    <legend class="form-label fw-bold">Select roles:</legend>
                                    <div class="form-check">
        <span th:each="role : ${allRoles}">
            <input type="checkbox" th:field="*{roles}" th:value="${role.id}" id="${'role_' + role.id}"/>
            <label th:for="${'role_' + role.id}" th:text="${role.name}"></label>
        </span>
                                    </div>
                                </fieldset>

                                <br/>
                                <button type="submit" class="btn btn-success">Add new user</button>
                                <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                                     class="error"></div>
                            </form>


                        </div>

                        <!--                                                     Column3-->
                        <div class="col"></div>
                    </div>
                </div>

                <!--                CREATE NEW USER FORM>-->
                <div class="mb-3 text-center">

                </div>

            </div>
        </div>


    </div>


</div>


<script src=" https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>