<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
<style>
    .firebrick-text {
        color: firebrick;
    }
</style>
<p class="firebrick-text">You are not allowed to enter ADMIN page!</p>

<p class="firebrick-text">غير مسموح لك بالدخول إلى صفحة المسؤول!</p>

<p class="firebrick-text">¡No tienes permitido ingresar a la página ADMIN!</p>


<br/>


<!--BACK TO MAIN:-->
<input type="button" value="Back to user's page"
       onclick="window.location.href = 'http://localhost:8080/user/' "/>
</body>
</html>