<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UPDATE USER</title>

    <style>
        hr {
            border: none;
            background-color: dodgerblue;
            color: dodgerblue;
            height: 2px;
        }
    </style>

</head>


<body>
<hr>
<h2>Update user's info:</h2>
<hr>
<br/><br/>

<!--UPDATING USER FORM-->

<form th:method="POST" th:action="@{/update}" th:object="${upuser}">
    <label for="id">ID:</label>
    <input type="number" th:field="*{id}" id="id" readonly/>
    <br/><br/>

    <label for="username">Change username</label>
    <input type="text" th:field="*{username}" id="username"/>
    <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name error</div>
    <br/><br/>

    <label for="password">Enter password</label>
    <input type="text" th:field="*{password}" id="password" readonly/>

    <br/><br/>

    <label for="country">year of birth</label>
    <input type="number" th:field="*{yob}" id="yob" readonly/>
    <br/><br/>

    <label for="country">Change user's country</label>
    <input type="text" th:field="*{country}" id="country"/>
    <div th:if="${#fields.hasErrors('country')}" th:errors="*{country}">Name error</div>
    <br/><br/>

    <label for="role">User's access:</label>
    <input type="text" th:field="*{role}" id="role"/>
    <div th:if="${#fields.hasErrors('role')}" th:errors="*{role}">Name error</div>
    <br/><br/>

    <hr>
    <br/>
    <input type="submit" th:value="Update">
</form>

</body>
</html>