<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>

    <style>
        hr {
            border: none;
            background-color: dodgerblue;
            color: dodgerblue;
            height: 2px;
        }
    </style>

</head>
<body>
<h1>User, welcome spring boot security page!</h1>
<br/><br/>
<hr>
<br/><br/>
<!--LOGOUT!-->
<input type="button" value="LogOUT !."
       onclick="window.location.href = '/logout' "/>

<br/><br/><br/>
<hr>

</body>
</html>